/*==========================Header Section===========================*/
h1{

    font-family: 'Brawler', serif;
    padding: 3rem 5rem 0rem;
    }
    .navbar{
      padding: 3rem 5rem;
    }
    
    .container-1{
        background-color:darkslateblue;
        color:white;
    }
    /*--------------------------------------------About-Project----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    p{
    font-family: 'Lora', serif;
    line-height: 1.7;
    }
  h3{
    font-family: 'Brawler', serif;
  }
    /*--------------------------------------------Nav-Bar-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .nav{
        color:white;
    }
    
    .nav-item{
      margin: 0.5rem;
      font-size: 1.2rem;
      font-family: 'Lora', serif;
    }
    
    .logo{
      height: 5rem;
    }
    /*-----------------------------------------Footer----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .footer{
        background-color:darkslateblue;
        color:white;
        text-align:center;
        padding:1rem;
    }
    
    .footer-icon{
        margin:15px;
    }
    .purple{
      background-color:darkslateblue;
      color:white;
    }
    .beige{
      background-color:beige;
    }