/*==========================Header Section===========================*/
    h1{
    font-family: 'Brawler', serif;
    padding: 3rem 5rem 0rem;
    }
    .navbar{
      padding: 3rem 5rem;
    }
    
    .container-1{
        background-color:darkslateblue;
        color:white;
    }
    /*=============================================main background==============================================*/
    /* main{
      background-color:beige;
    } */
    .main-background{
      background-color:wheat;
      padding: 30px;
    }
  /*--------------------------------------------Nav-Bar-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .nav{
        color:white;
    }
    
    .nav-item{
      margin: 0.5rem;
      font-size: 1.2rem;
      font-family: 'Lora', serif;
    }
    
    .logo{
      height: 5rem;
    }
    /*-----------------------------------------Footer----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .footer{
        background-color:darkslateblue;
        color:white;
        text-align:center;
        padding:1rem;
    }
    
    .footer-icon{
        margin:15px;
    }
    /*============================================member's section======================================================*/
    .member-1{
      background-color:beige;
      border:5px solid ;
      margin: 35px;
    }
    .member-2{
      background-color:beige;
      border:5px solid ;
      margin: 35px;
    }
    .member-3{
      background-color:beige;
      border:5px solid ;
      margin: 35px;
    }
    .member-4{
      background-color:beige;
      border:5px solid ;
      margin: 35px;
    }
    .member-1 >img{
      float:left;
      width: 10%;
      padding:1%;
    }
    .member-2 >img{
      float:right;
      width: 10%;
      padding:1%;
    }
    .member-3 >img{
      float:left;
      width: 10%;
      padding:1%;
    }
    .member-4 >img{
      float:right;
      width: 10%;
      padding:1%;
    }
    h3{
      padding: 20px;
    }


