/*==========================Header Section===========================*/
h1{
  font-family: 'Brawler', serif;
  padding: 1.5rem 5rem 0rem;
}
.navbar{
  padding: 4rem 5.7rem ;

}

.container-1{
    background-color:darkslateblue;
    color:white;

}

.fixed-top{
  background-color:darkslateblue;
  color:white;

}
.main-heading{
  font-family: 'Brawler', serif;
  padding: 1.8rem 5.5rem 0rem;
  font-size: 2.8rem;
  padding-top: 26px;

}


    /*--------------------------------------------About-Project and Our-Vision----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    p{
    font-family: 'Lora', serif;
    line-height: 1.7;
    }
  h3{
    font-family: 'Brawler', serif;
  }
  .vision-heading{
    padding-left: 80px
  }
    /*--------------------------------------------Nav-Bar-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .nav{
        color:white;

    }

    .nav-item{
      margin: 0.5rem;
      font-size: 1.4rem;
      font-family: 'Lora', serif;
    }

    .logo{
      height: 5.5rem;
    }
    /*-----------------------------------------Footer----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .footer{
        background-color:darkslateblue;
        color:white;
        text-align:center;
        padding:1rem;
    }

    .footer-icon{
        margin:15px;
    }
    .purple{
      background-color:darkslateblue;
      color:white;
    }
    .beige{
      background-color:beige;
    }
    .footer-mark{
    font-family: var(--bs-font-sans-serif);
    }
    /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bd-placeholder-img1{
  margin-top: 120px;

}
.bd-placeholder-img2{
height: 65%;
width:90%;
margin-left: 50px;

}
